<a href="https://colab.research.google.com/github/LuisaPolicarpo/Dashboard-Dojo_luisa/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.ticker as mtick
import numpy as np
#import sqlalchemy as sql
import datetime

from PIL import Image 

import pickle

In [2]:
col_list = ['tconst','primaryTitle','originalTitle', 'startYear','genres','titleType']
title_basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list)

In [3]:
col_list2 = ['tconst','averageRating','numVotes']
title_ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list2)

In [4]:
col_list3 = ['nconst','primaryName','primaryProfession']
name_basics = pd.read_csv('https://datasets.imdbws.com/name.basics.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list3)

In [5]:
col_list4 = ['tconst','nconst']
title_principals = pd.read_csv('https://datasets.imdbws.com/title.principals.tsv.gz', compression = 'gzip', sep = '\t', usecols=col_list4)

In [6]:
t_b_r = pd.merge(title_basics, title_ratings, how='inner', on=['tconst', 'tconst'])

In [26]:
t_b_r.head()

,tconst,titleType,primaryTitle,originalTitle,startYear,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,1894,"Documentary,Short",5.7,1922
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,1892,"Animation,Short",5.8,259
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,1892,"Animation,Comedy,Romance",6.5,1733
3,tt0000004,short,Un bon bock,Un bon bock,1892,"Animation,Short",5.6,174
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,1893,"Comedy,Short",6.2,2544

In [8]:
condition = t_b_r['titleType'] == 'movie'
condition2 = t_b_r['titleType'] == 'short'
m_s = t_b_r[condition | condition2 ][['tconst','primaryTitle','originalTitle', 'startYear','genres','averageRating','numVotes']]